<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>表单控件绑定二</title>
</head>
<body>
<h1>选择列表</h1>
<div id="app-1">
    <select v-model="selected" multiple>
        <option value="AA">A</option>
        <option value="BB">B</option>
        <option value="CC">C</option>
    </select>
    <p>selected item : {{selected}}</p>
</div>

<div id="app-2">
    <select v-model="selected">
        <option v-for="item in items" v-bind:value="item.value">{{item.text}}</option>
    </select>
</div>
<script src="js/vue.js"></script>
<script>
    var vm = new Vue({
        el: '#app-1',
        data: {
            selected: ['BB']
        }
    });

    var vm2 = new Vue({
        el: '#app-2',
        data: {
            items: [
                {value: 'One', text: 'A'},
                {value: 'Two', text: 'B'},
                {value: 'Three', text: 'C'}
            ],
            selected: 'Two'
        }
    });
</script>
</body>
</html>