<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>表单控件绑定</title>
</head>
<body>
<h1>文本</h1>
<div id="app-1">
    <input type="text" v-model="message" placeholder="edit me">
    <p>Message is : {{message}}</p>
</div>

<h1>多行文本</h1>
<div id="app-2">
    <textarea cols="30" rows="10" v-model="message" placeholder="add multiple lines"></textarea>
    <p style="white-space: pre">{{message}}</p>
</div>

<h1>复选框-单个复选框</h1>
<div id="app-3">
    <input type="checkbox" id="ck1" v-model="checked">
    <label for="ck1">{{checked}}</label>
</div>

<h1>复选框-多个复选框</h1>
<div id="app-4">
    <input type="checkbox" id="jack" value="Jack" v-model="checkedNames">
    <label for="jack">Jack</label>
    <input type="checkbox" id="john" value="John" v-model="checkedNames">
    <label for="john">John</label>
    <input type="checkbox" id="mike" value="Mike" v-model="checkedNames">
    <label for="mike">Mike</label>
    <br>
    <span>Checked names: {{ checkedNames }}</span>
</div>

<h1>单选按钮</h1>
<div id="app-5">
    <input type="radio" id="one" value="One" v-model="picked">
    <label for="one">One</label>
    <input type="radio" id="two" value="Two" v-model="picked">
    <label for="one">Two</label>
    <span>picked: {{picked}}</span>
</div>

<script src="js/vue.js"></script>
<script>
    var vm1 = new Vue({
        el: '#app-1',
        data: {
            message: ''
        }
    });

    var vm2 = new Vue({
        el: '#app-2',
        data: {
            message: ''
        }
    });

    var vm3 = new Vue({
        el: '#app-3',
        data: {
            checked: false
        }
    });

    var vm4 = new Vue({
        el: '#app-4',
        data: {
            checkedNames: []
        }
    });

    var vm5 = new Vue({
        el: '#app-5',
        data: {
            picked: 'Two'
        }
    });
</script>
</body>
</html>